<!DOCTYPE html>
<html lang="en">
{% set adminRole = 'ROLE_ADMIN' %}
<head>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/webapp/static/css/main.css">

    {% block stylesheets %} {% endblock %}

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Graph Comparator</title>
</head>
<body>
{% embed 'layout/header.twig' %} {% endembed %}

<div class="container" style="max-width: 1400px;">
    {% block body %} {% endblock %}
</div>

</body>
{% block javascripts %} {% endblock %}
</html>